/* 
    Это область отвечает за "голову" сайта
*/
header {
  border-radius: 24px; /* Закругляет углы границы header блока */

    background-color: #f2f2f2; /* Устанавливает фоновый цвет для элемента header */
    padding: 20px; /* Добавляет отступы вокруг содержимого элемента header */
    display: flex; /* Создает гибкий контейнер Flexbox */
    align-items: center; /* Выравнивает элементы по вертикали внутри header */
  }
  
  nav {
    padding: 20px; /* Добавляет отступы вокруг содержимого элемента nav */
    text-align: center; /* Выравнивает текст по центру внутри nav */
  }
  
  nav ul {
    list-style-type: none; /* Удаляет маркеры списка у элемента ul */
    margin: 0; /* Устанавливает отступы вокруг элемента ul */
    padding: 0; /* Устанавливает внутренние отступы для элемента ul */
  }
  
  nav ul li {
    display: inline; /* Располагает элементы списка горизонтально */
    margin-right: 10px; /* Устанавливает отступ справа для элементов списка */
  }
  
  nav ul li a {
    text-decoration: none; /* Удаляет подчеркивание ссылок */
    color: #333; /* Устанавливает цвет текста для ссылок */
    padding: 5px 10px; /* Добавляет отступы вокруг текста ссылок */
    border: 1px solid #ccc; /* Устанавливает границу для ссылок */
    border-radius: 4px; /* Закругляет углы границы ссылок */
  }
  
  nav ul li a:hover {
    background-color: #3cff00; /* Изменяет фоновый цвет ссылки при наведении на нее курсора */
    color: #fff; /* Изменяет цвет текста ссылки при наведении на нее курсора */
  }

/* 
    Эта часть отвечает за сетку товаров
*/

.grid-container {
  
  margin-top: 50px; /* Добалвяет отступ сверху */

  display: grid; /* Используем CSS Grid для раскладки */
  grid-template-columns: repeat(3, 1fr); /* Создаем три колонки равной ширины */
  grid-gap: 20px; /* Устанавливаем промежуток между элементами сетки */
  padding-inline: 10%; /* Применяем горизонтальный отступ к контейнеру сетки */
}

/* Стили CSS для элементов сетки */
.grid-item {

  flex-direction: column; /* Направление элементов идет колоной вниз */

  border-radius: 24px; /* Закругляет углы элемента сетки растений */
  background-color: #f2f2f2; /* Устанавливаем цвет фона элементов сетки */
  padding: 20px; /* Применяем отступ к элементам сетки */
}

.grid-item_image{

  border-radius: 12px; /* Закругляет углы картинки растения */
  width: 100%; /* Заполняет всю ширину */

}